body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --access-token: '';
  --refresh-token: '';
}

/* Глобально убираем горизонтальную прокрутку, чтобы устранить белые поля справа на мобильных */
html, body, #root {
  overflow-x: hidden;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::before {
  content: var(--access-token);
  display: none;
}

body::after {
  content: var(--refresh-token);
  display: none;
}